.socials h3 {
  border-bottom: 4px solid rgba(83, 83, 83, 0.8);
  display: inline-block;
}

.social-box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
  width: fit-content;
  cursor: pointer;
}

.social-box a {
  font-weight: 500;
}

.social-box:hover,
.social-box:active {
  background-color: var(--hover);
}

.social {
  margin-left: 0.4rem;
  text-decoration: none;
}
