.bio {
  margin-top: 0.5rem;
}

.bio h3 {
  border-bottom: 4px solid rgba(83, 83, 83, 0.8);
  display: inline-block;
}

.bio-item {
  display: flex;
  margin-bottom: 0.4rem;
}

.bio-item p {
  margin: 0 1rem;
}

.bio-item span {
  color: var(--text-color);
  font-weight: 600;
  display: block;
}

/* Hobbies */
.hobbies h3 {
  margin-bottom: -0.8rem;
}
