@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap");
@import "./variables.css";

* {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
p,
li {
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-primary);
}

@media only screen and (max-width: 470px) {
  h3 {
    font-size: 1.4rem;
  }

  p,
  span,
  a {
    font-size: 1.1rem;
  }
}
