.navbar {
  background: var(--glass);
  z-index: 2;
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  width: 100%;
}

.navb {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 0.1px;
  font-weight: 600;
  flex-shrink: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-shrink: 0;
}

.nav li {
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  flex-shrink: 0;
}

.link:hover,
.link:active {
  background-color: var(--hover);
}

.leftnav {
  display: flex;
  align-items: center;
}

.toggle {
  border-radius: 5px;
  display: inline-block;
  padding: 0.5rem 0.6rem 0.3rem 0.6rem;
  animation: moveInTop 0.35s ease-in;
  transition: all 0.2s ease;
}

.light {
  background-color: #845ef7;
}

.dark {
  background-color: #fbd38d;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
