.navbar {
  background: var(--glass);
  z-index: 2;
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  width: 100%;
}

.navb {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 0.1px;
  font-weight: 600;
  flex-shrink: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-shrink: 0;
}

.nav li {
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

.mobile-nav-btn {
  border-radius: 5px;
  display: inline-block;
  padding: 0.6rem 0.6rem 0 0.6rem;
  border: 1px solid rgba(240, 239, 239, 0.432);
  background-color: rgb(46, 46, 46);
  margin-left: 0.5rem;
  transition: all 0.2s;
  display: none;
  position: relative;
}

.mobile-nav-btn:active {
  background-color: rgb(144, 172, 209);
}

.mobile-nav-box {
  border-radius: 5px;
  width: 200px;
  padding: 0.5rem 0;
  border: 1px solid rgba(240, 239, 239, 0.432);
  background-color: rgb(46, 58, 75);
  position: absolute;
  top: 3.8rem;
  right: 1rem;
  box-shadow: 0px 3px 32px 5px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 3px 32px 5px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 3px 32px 5px rgba(0, 0, 0, 0.42);

  display: flex;
  flex-direction: column;

  animation: moveInTop 0.35s ease-in;
  transition: all 0.2s ease;
}

.link {
  text-decoration: none;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  flex-shrink: 0;
}

.link:hover,
.link:active {
  background-color: var(--hover);
}

.leftnav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
}

.toggle {
  border-radius: 5px;
  display: inline-block;
  padding: 0.5rem 0.6rem 0.3rem 0.6rem;
  animation: moveInTop 0.35s ease-in;
  transition: all 0.2s ease;
}

.light {
  background-color: #845ef7;
}

.dark {
  background-color: #fbd38d;
}

.mobile-nav-item {
  padding: 0.5rem 1rem;
}

.mobile-nav-item:hover,
.mobile-nav-item:active {
  background-color: rgb(79, 90, 105);
}

.mobile-nav a {
  text-decoration: none;
  color: #fff;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 680px) {
  .nav {
    display: none;
  }
  .navb {
    padding: 1rem;
  }

  .mobile-nav-btn {
    display: inline-flex;
  }
}
